<!DOCTYPE html>
<html lang="az-Latn-AZ">
<head>
    <%- include('head.ejs') %>
</head>
<body class="aboutpage">
  <h2>Haqqımızda</h2>
  <div class="about-main container">
    <p><img src="https://avatars.githubusercontent.com/u/60571063?v=4" width="128px" height="128px" align="left">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
<footer class="text-center text-lg-start text-muted">
  <%- include('footer.ejs') %>
</footer>
</body>
</html>