<!DOCTYPE html>
<html lang="az-Latn-AZ">
<head>
    <%- include('head.ejs') %>
</head>
<body>
    <div class="mainpage-upper">
      <div class="mainpage-upper-right">
        <img src="/img/mainpage-exam.svg" alt="Exam Illustration">
      </div>
      <div class="mainpage-upper-left">
        <h1>Sınaq sistemi</h1>
        <p>Ən yeni sistemlər ilə təchiz edilmiş sınaq sistemi.</p>
        <a class="mainpage-button" href="/panel">Sistemə keçid</a>
      </div>
    </div>

    <div class="mainpage-middle">
      <div class="mainpage-middle-post">
        <div class="mainpage-middle-post-context">
          <h6>Yeni Sistemimiz!</h6>
          <p>Dünyanı sarsıdacaq dizayn və istifadə rahatlığı ilə...</p>
        </div>
      </div>
      <div class="mainpage-middle-post">
        <div class="mainpage-middle-post-context">
          <h6>Suallar və tiplər!</h6>
          <p>Ən yeni suallar və sual tipləri ilə birdən çox sektorda...</p>
        </div>
      </div>
      <div class="mainpage-middle-post">
        <div class="mainpage-middle-post-context">
          <h6>Yeni Sistemimiz!</h6>
          <p>Dünyanı sarsıdacaq dizayn və istifadə rahatlığı ilə...</p>
        </div>
      </div>
      <div class="mainpage-middle-post">
        <div class="mainpage-middle-post-context">
          <h6>Yeni Sistemimiz!</h6>
          <p>Dünyanı sarsıdacaq dizayn və istifadə rahatlığı ilə...</p>
        </div>
      </div>
    </div>
    <div class="mainpage-bottom">
      <div class="slogan">
        <h2>HƏDƏFLƏRİN ÜÇÜN DURMA!</h2>
      </div>
    </div>
<footer class="text-center text-lg-start text-muted">
  <%- include('footer.ejs') %>
</footer>
</body>
</html>