<!DOCTYPE html>
<html lang="az-Latn-AZ">
<head>
    <%- include('head.ejs') %>
</head>
<body>
  <div class="container">
   <div class="row mt-5">
      <div class="col-sm login-image">
         <img src="/img/login.svg">
      </div>
      <div class="col-sm">
         <div class="centerbox">
            <form action='/panel/login' method='POST'>
               <div class="form-group">
                  <label for="email">E-poçt ünvanı</label>
                  <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-poçt'u daxil edin">
               </div>
               <div class="form-group">
                  <label for="password">Şifrə</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Şifrənizi daxil edin">
               </div>
               <button type="submit" class="btn btn-primary">Daxil ol</button>
            </form>
            <a href="/panel/signup">Qeydiyyat</a>
         </div>
      </div>
   </div>
</div>
<footer class="text-center text-lg-start text-muted">
  <%- include('footer.ejs') %>
</footer>
</body>
</html>